// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
  margin: 0;
  background-color: white;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 0.75em;
  padding: 0.25em;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
  float: left;
}
